# testing merge on the main branch after a pullrequest approval
name: Merge on Pull request 
on: 
  pull_request_target:
    branches: [ main ]
    
jobs:

  # Firts authenticate user based on PR details
  validate_request:
    runs-on: ubuntu-latest
    outputs: 
      is_valid: ${{ steps.validate.outputs.validation }}
      changed_files:  ${{ steps.get_changed_files.outputs.all_changed_files }}
    
    steps:    

      # DEBUG ONLY
      - name: dump info
        run: |
          echo ">>> Repo: ${{ github.repository }}"
          echo ">>> SrcPath: $GITHUB_WORKSPACE"
          echo ">>> Pull request number: ${{ github.event.pull_request.number }}"
          echo ">>> Git hub actor: ${{ github.actor }}"
          echo ">>> Branch name is $(echo ${{github.ref}} | sed 's/refs\/heads\///')"
          
          

      # Checkout the forecast repo
      # ---------------------------      
      - name: checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      
      # Checkout the python tools repo
      # used to authenticate and validate the PR
      # -------------------------------------------      
      - name: checkout python tools repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: 'Testing-Forecast-Actions/Testing-Tools'
          ref: 'main'
          path: tools


      # Collect details about the pull request
      # ----------------------------------------      
      - name: Collect PR details
        id: collect_details
        run: |
          echo "gh_actor=${{ github.actor }}"
          echo "pr_number=${{ github.event.pull_request.number }}" >> $GITHUB_OUTPUT

      # Get changes from pull request 
      # --------------------------------      
      - name: Get changes
        id: get_changed_files
        uses: tj-actions/changed-files@v36

        
      # DEBUG ONLY
      - name: List all changed files
        run: |
          for file in ${{ steps.get_changed_files.outputs.all_changed_files }}; do
            echo "$file was changed"
          done

          
      # Authenticate the pull_request 
      # -------------------------------      
      - name: Execute Authentication script
        id: authenticate
        env:
          calling_actor: ${{ github.actor }}
          changed_files: ${{ steps.get_changed_files.outputs.all_changed_files }}
          # local_test_var: "MyLocalValue"
          # calling_actor: ${{ steps.collect_details.outputs.gh_actor }}
          # changed_files: ${{ steps.get_changed_files.outputs.all_changed_files }}
          
        run: python ./tools/.github/scripts/request_authentication/authenticate_request.py
        

      # DEBUG ONLY
      - name: Trace execution
        run: |
          echo "authentication result: ${{ steps.authenticate.outputs.authentication }}"


      # If authenticated proceed with validation
      # -------------------------------------------      
      - name: Execute Validation script
        id: validate
        env:
          changed_files: ${{ steps.get_changed_files.outputs.all_changed_files }}
          
        run: |
          if [[ ${{ steps.authenticate.outputs.authentication == 'true' }} ]]; then 
            python ./tools/.github/scripts/forecast_validation/validate.py
          else 
            echo "validation=false" >> $GITHUB_OUTPUT
          fi

  # -------------------------------------------
  # SUCCESS
  # -------------------------------------------
  success:
    runs-on: ubuntu-latest
    needs: validate_request
    if: ${{ needs.validate_request.outputs.is_valid  == 'true'}}

    steps:

      # Checkout the forecast repo
      # ---------------------------
      - name: checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}          
          
      # Approve pull request 
      # ---------------------------
      - name: Approve Pull Request
        uses: juliangruber/approve-pull-request-action@v2.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ github.event.pull_request.number }}

      # DEBUG ONLY
      - name: DEBUG - DUMP INFO
        env:
          changes: ${{ needs.validate_request.outputs.changed_files }}
          
        run: |
          echo ">>> SUCCESS JOB "
          echo "$changes"
          echo ">>> Repo: ${{ github.repository }}"
          echo ">>> SrcPath: $GITHUB_WORKSPACE"
          echo ">>> Pull request number: ${{ github.event.pull_request.number }}"
          echo ">>> Git hub actor: ${{ github.actor }}"


      - name: Format branch
        id: format-branch
        run: echo "::set-output name=branch::$(echo ${{github.ref}} | sed 's/refs\/heads\///')"

      - name: Find pull request
        id: find-pull-request
        uses: juliangruber/find-pull-request-action@v1
        with:
          branch: ${{steps.format-branch.outputs.branch}}

      - name: Merge upgrade PR
        uses: juliangruber/merge-pull-request-action@v1
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          number: ${{steps.find-pull-request.outputs.number}}
          method: merge



      # Merge changes  
      # ---------------------------      
      # - name: Merge Pull Request
      #   uses: juliangruber/merge-pull-request-action@v1
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     number: ${{ github.event.pull_request.number }}
      #     method: squash # merge rebase
      #     repo: juliangruber/octokit-action      


      # Activate client view 
      # ---------------------------
      # WEBHOOK
      - name: Invoke deployment hook
        uses: distributhor/workflow-webhook@v2
        env:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
          webhook_secret: ${{ secrets.WEBHOOK_SECRET }}
          data: '{ "weapon": "hammer", "drink" : "beer" }'

      

  # FAILED
  failed:
    runs-on: ubuntu-latest
    needs: validate_request
    if: ${{ needs.validate_request.outputs.is_valid  == 'false'}}
    
    steps:

      # DEBUG ONLY
      - name: DEBUG - DUMP INFO
        env:
          changed-files: ${{ needs.validate_request.outputs.changes }}
          
        run: |
          echo ">>> FAILED JOB "
          echo ">>> Changes: $changed-files"
          echo ">>> Repo: ${{ github.repository }}"
          echo ">>> SrcPath: $GITHUB_WORKSPACE"
          echo ">>> Pull request number: ${{ github.event.pull_request.number }}"
          echo ">>> Git hub actor: ${{ github.actor }}"

