name: Test
on:
  schedule:
    - cron: '50 22 * * 1,5'
  workflow_dispatch:
     inputs:
       myInput:
         description: 'User Input:'
         required: true
         default: "Hello World"
  
jobs:
  test_job:
    runs-on: ubuntu-latest
    env:
      run_import: 'vai'
    
    steps:
      # Checkout the python tools repo
      # -------------------------------------------      
      - name: checkout python tools repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: 'Testing-Forecast-Actions/Testing-Tools'
          ref: 'main'
          path: './tools/'

      - name: change the var value
        run: |
          echo "$jobs.test_job.run_import = 'no go'" >> $GITHUB_ENV
          # INPUT_STORE=${{ github.event_name == 'pull_request' }} python ./tools/code/test_code.py
          INPUT_STORE=${{ github.event_name == 'workflow_dispatch' }} python ./tools/code/test_code.py
