name: Weekly Submission

on:
  # scheduled submission every Wednesday at 1.30 a.m. 
  schedule:
    - cron: '30 5 * * 3'  

  workflow_dispatch:

  
jobs:
  scheduled-submit:
    runs-on: ubuntu-latest
    
    steps:

      # Checkout the python tools repo
      # used to authenticate and validate the PR
      # -------------------------------------------      
      - name: checkout python tools repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: 'Testing-Forecast-Actions/Testing-Tools'
          ref: 'main'
          path: tools
          
    
      # Get the list of changes from a json file 
      - name: Get changes list
        id: get_changes
        run: |
          echo "Read changes list from json"
          content=`cat ./tools/.github/scripts/utils/changes_db.json`
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          echo "::set-output name=packageJson::$content"
          echo "packageJson = $content" >> $GITHUB_OUTPUT

      - run: |
          echo "${{ steps.get_changes.outputs.packageJson }}"

          
    
      # Trigger server-side updating and UI deploy
      # --------------------------------------------
      # WEBHOOK
      # - name: Invoke deployment hook
      #   env:
      #     webhook_url: ${{ secrets.WEB_HOOK_URL_DEV }}
      #     # webhook_url: ${{ secrets.WEBHOOK_URL }}
      #     # webhook_url: ${{ secrets.WEB_HOOK_URL_PRODUCTION }}
      #     webhook_secret: ${{ secrets.WEB_HOOK_SECRET }}
      #     #data: '{ "changes": ${{ toJSON(needs.validate_request.outputs.changed_files) }}, "actor" : ${{ toJSON(github.actor) }} }'
      #     data: ${{ get_changes.outputs.changes_list }}

      #   run: |
      #     echo ">>> Calling custom webhook"
      #     pip install requests
      #     echo ">>> Pip installed" 
      #     python ./tools/.github/scripts/utils/workflow_webhook.py
